/dallenodejs/.env
/dallenodejs/node_modules
/dallenodejs/package.json
/dallenodejs/package-lock.json

/dallereactjs/.env
/dallereactjs/node_modules
/dallereactjs/package.json
/dallereactjs/package-lock.json

/reactnode/backend/.env
/reactnode/backend/node_modules
/reactnode/backend/package.json
/reactnode/backend/package-lock.json

/reactnode/frontend/.env
/reactnode/frontend/node_modules
/reactnode/frontend/package.json
/reactnode/frontend/package-lock.json

/ipfs/node_modules
/ipfs/package.json
/ipfs/package-lock.json